{{!-- 组件对应的模板 --}}
<template>
  <div>
  </div>
</template>

<script>
export default {
  name: 'wxc{{properCase name}}',  // 组件的名称，规则的：wxc开头 + 创建组件时输入的名字，使用了模板提供的properCase将首字母大写
  props: {
  }
}
</script>

<style>
</style>
